extends layout

block content
  <div class="init-wrapper">
    div(class="logo")
    <div class="section center-content init-intro">
      <span class="center">Configura esta pantalla con la aplicación movil</span>
    </div>
    <div class="section hidden center-content init-create-screen">
      <span class="center">Coloca un nombre a esta pantalla y agregala</span>
    </div>
    <div class="section hidden center-content init-wifi">
      <span class="center">Configura esta pantallal</span>
    </div>
    <span id="screen-code">#{code}</span>
    script(src='/js/init.js')
  </div>
