.init-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .logo {
    background-image: url('../assets/bad-logo2.png');
    width: 500px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #screen-code {
    margin-top: auto;
    margin-bottom: 2%;
    margin-left: 1%;
    font-size: 92px;
  }
}