#imgHolder, #vidHolder {
  width: 100%;
  height: 100%;
}

#imgHolder {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#vidHolder {
  object-fit: cover;
}

.hidden {
  display: none;
}